.App {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
}

.main-title {
  color: rgb(229, 149, 192);
}

.todo-header {
  background-color: whitesmoke;
  width: 400px;
  height: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.enter-input {
  width: 400px;
  margin-left: 10px;
  height: 30px;
  border: none;
  background-color: whitesmoke;
}

.toggleAll {
  border: 1px solid plum;
  background-color: whitesmoke;
}

.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

ul{
  list-style: none;
}


.todo-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  margin-bottom: 5px;
  background-color: whitesmoke;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  margin-bottom: 5px;
  background-color: whitesmoke;
  margin: 0 auto;
}


.hb {
  border: none;
  background-color:beige;
  margin-right: 5px;
}

.hb:hover {
  cursor: pointer;
  background-color: greenyellow;
}